
.cell a {
	border: 1px solid rgb(0,169,212);
    color: #235868; 	
	text-align: center;	
	font-size: 1.2em;	
	text-transform: uppercase;	
	font-weight:600;
	border-radius: 5px;
	text-decoration: underline;
}

.bg-light-yellow {
	background-color: #ffdc4a;
}

.bg-light-green {
	background-color:#a8d79e;
}

.bg-red-orange {
	background-color:#ff8454;
}
.cell a:hover {
	background-color: #c1c1c1; 
	color: white; 
}

.row a {
  width:100%;height:60%;
}

.modal-header, .modal-footer   {
	background-color: rgb(255, 220, 74);
}

.modal  {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important; 
}

.modal-dialog {
border-radius: 25px !important;
}

.icon-main-nav {	
	position: relative;
	text-align: center;	
}


.cell {
	padding-bottom:5px;	
}

@media only screen and (max-width: 640px) {
	.cell {
		margin-left: 5px;	
	}
    .cell a { 
		align-items: center;
		justify-content: center;	
    }
}	