.header {
  font-family:cursive;
  background-color: white;
  text-align: left;
  color:  #000080;
  z-index:1;
}

.top-header { 
  font-weight: bold;
  color: #f0d68b;
}

.logo-and-title {
  margin: 3%;
  position: relative;
}

.logo-and-title img {
  width:140px;
}
 
.title { 
  font-family: "american typewriter, serif";
  font-weight: 600;
  font-size: 150%;
  color: #222092; /*#5b7f39; */
}

.subtitle { 
  font-family: cursive;
  color: #000080; 
}

.phone-email {
   font-size: 120%;
   font-weight: 600;
}

div#logo img{
   width:100px;
    border-radius: 25px; 
}

#nav-logo {
  display: none;
  margin-right: 30px;
  border-radius: 10px; 
}

#nav-logo img {
  width:80px; 
  border-radius: 10px; 
}

.img-logo {
   transition: width 2s;
}

.logo-title-color-1 {   
  color:#C70039; /* #ed1c26; */
}

.logo-title-color-2 {
  color:#296adf;
}
.logo-title-color-3 {
  color:#30db42; 
}


@media screen and (max-width: 650px) {
  div#logo img{
    width:70px;
    border-radius: 10px; 
  } 

  .phone-email {
   padding-top: 20px;
  }

}

@media screen and (max-width: 350px) {
  div#logo img{
    width:70px;
  } 
}


