
.bgcolor {
  background-color: #f0ce86;
}

.wrapnav{
  margin: 0 auto;
}

#navbar {
  display: block;
  opacity: 100;
  z-index:1; 
}

.welcome {
  padding-top: 10px;
}

#navbar a {
  display: block;
  color:  #000080; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  transition: 0.5s;

}

#navbar a:hover {
  background-color: #296adf;
  color: white; 
  border-radius: 6px;
}


#navbar a.active {
  background-color: #04AA6D; 
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.active{
 background: #ebf6f7; /*#83edf7; */
 border:1px solid #f0ce86;
 border-radius: 7px; 
}

.dropdown-menu {
  background: #ebf6f7;
}