
.offset:before { 
  display: block; 
  content: " "; 
  height: 100px;      /* Give height of your fixed element */
  margin-top: -100px; /* Give negative margin of your fixed element */   
  visibility: hidden; 
}